spring:
  application:
    name: codecollab
  
  datasource:
    url: jdbc:mysql://localhost:3306/codecollab?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: shubham
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8085
  error:
    include-message: always
    include-binding-errors: always

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000

logging:
  level:
    com.codecollab: DEBUG
    org.springframework.security: DEBUG
