@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #000;
    color: #fff;
  }
  
  body {
    @apply antialiased;
    background-color: #000;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
