server:
  port: 8085

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/codecollab?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: shubham
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

app:
  jwt:
    secret: QWxsWW91ckJhc2VBcmVCZWxvbmdUb1VzQ29kZUNvbGxhYlNlY3JldEtleQ==Rm9yU3ViaGFt
    access-token-expiration: 900000
    refresh-token-expiration: 604800000
