server:
  port: 8085

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/codecollab?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: shubham
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  jackson:
    serialization:
      write-dates-as-timestamps: false
    default-property-inclusion: non_null

app:
  jwt:
    secret: CodeCollabSuperSecretKeyThatIsAtLeast256BitsLongForHS256Algorithm2025!
    access-token-expiry: 86400000    # 24 hours in ms
    refresh-token-expiry: 604800000  # 7 days in ms

  cors:
    allowed-origins: http://localhost:5173,http://localhost:3000
